@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #000;
}

body.dark-theme {
    background-color: #000;
    color: #000;
}

h1 {
    font-family: 'Oswald', sans-serif;
}

.navbar {
    background-color: #000; /* Adiciona uma cor de fundo preta ao menu */
    color: 000;
}

.nav-item {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 15px;
}

.nav-item img {
    width: 24px;
    height: 24px;
}

.container {
    margin-top: 0; /* Remove a margem para alinhar o menu e o portfólio no topo */
    color: #000;
}

.card {
    color: #000;
}

.card.projeto {
    background-color: #fff; /* Adiciona uma cor de fundo branca para o card de projeto */
    color: #000;
    border: 1px solid #ccc; /* Adiciona uma borda cinza ao card de projeto */
}

.card.rodolfo {
    background-color: #000; /* Adiciona uma cor de fundo branca para o card de projeto */
    color: #000;
    border: 1px solid #ccc; /* Adiciona uma borda cinza ao card de projeto */
}

.card.imagem {
    background-color: #000; /* Adiciona uma cor de fundo branca para o card de projeto */
    color: #000;
    border: 2px solid #fff;
}

.card.imagem .card-body {
    font-size: 10px; /* Define o tamanho do texto dentro do card para 12 pixels */
}
.legend {
    font-size: 10px;
}

.card-title {
    margin: 0;
    font-size: 24px;
}

.card-title-projeto {
    margin: 0;
    font-size: 24px;
    color: rgba(0,0,0,.9);

}

.card-description {
    font-size: 16px;
}
.card-projeto {
    font-size: 16px;
    color: rgba(0,0,0,.9);
}

.card-tools {
    font-size: 14px;
    color: #777;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.card-button {
    color: #fff;
    background-color: #FF4500;
    padding: 5px 10px;
    text-decoration: none;
    width: 45%;
    text-align: center;
}

body.dark-theme .card,
body.light-theme .card {
    color: #fff;
    background-color: #000;
}
.whatsapp-button button {
    background-color: #25D366; /* Cor de fundo do WhatsApp */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    border: none; /* Remove a borda padrão */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

.whatsapp-button button:hover {
    background-color: #128C7E; /* Muda a cor de fundo quando o mouse passa por cima */
}
.button-container .btn {
    width: 100%; /* Faz com que todos os botões tenham a mesma largura */
    margin-bottom: 10px; /* Adiciona um espaço entre os botões */
}

.whatsapp-button {
    background-color: #25D366; /* Cor de fundo do WhatsApp */
    color: white; /* Cor do texto */
}

